content {
  display: grid;
  margin-right: .25rem;
  margin-left: .25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: cadetblue;
  opacity:  100%;
  padding: 10px 10px 10px 10px;
  border-radius: 1.5rem;
  height: 100%;
}
p {
  font-family: 'Work Sans', 'sans-serif';
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
    padding: 0;
    margin: 0;
}